{% extends "calculator/raw_page.html" %}
{% load static %}
{% block content %}

    <div class="container">
    <br><br>
    <p>Your quotes:</p>
    <br><br>
                    <div class="table-responsive">
          <table class="table">
                            <thead>
                                <tr>
                                  <th scope="col">Doc ID</th>
                                  <th scope="col">Created by</th>
                                  <th scope="col">Creation date</th>
                                  <th scope="col">Customer name</th>
                                  <th scope="col">Total</th>
                                  <th scope="col">Comment</th>
                                </tr>
                            </thead>

                {% for quote in quotes %}

                    <tr>
                        <td>{{ quote.slug }}</td>
                        <td>{{ quote.user }}</td>
                        <td>{{ quote.date_saved }}</td>
                        <td>{{ quote.customer }} </td>
                        <td>{{ quote.price }}</td>
                        <td>{{ quote.comment }}</td>
                        <td><a href="{{ quote.get_absolute_url }}"><button type="button" class="btn btn-outline-secondary">Open</button></a></td>
                    </tr>
              {% endfor %}
          </table>

			</div>
    </div>
{% endblock content %}
