
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <title>Estimates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <script type="text/javascript">
            const user = '{{request.user}}'
    </script>

</head>
<body>
<div class="navbar container">
<nav class="navbar bg-light">
  <div class="container-fluid justify-content-between">

<div>
    <a href="{% url "manual" %}"><button class="btn btn-outline-secondary me-2" type="button">Create quote</button></a>
    <a href="{% url "history" %}"><button class="btn btn-outline-secondary me-2" type="button">History</button></a>
    <a href="{% url "current_offer" %}"><button class="btn btn-outline-secondary me-2" type="button">Price book</button></a>
    </div>
    <div>
    <form name=search class="d-flex" role="search" method="GET" action="{% url "search" %}">
        {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" name="search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
        <a href="{% url 'logout' %}">
          <img id="logoff" src="{% static 'images/logoff.jpeg' %}" alt="logoff"/>
        </a>
    </form>
    </div>
  </div>
</nav>
</div>

{% block content %}

<h3>Create quote:</h3>
    <br><br>
    {% if submitted %}

Quote generated successfully!

    {% else %}

    <form action = "" method="POST">

        {% csrf_token %}
        {% endif %}
        {{ quote.management_form }}
        {{ quote }}
        {{ formset }}
        {{ formset.management_form }}

    <input type="submit" name="Submit">
</form>


{% endblock content %}

<!-- JavaScript Bundle with Popper -->
<script type="text/javascript" src="{% static 'js/manual.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
</html>



{#    <form action="" method=POST>#}
{#        {% csrf_token %}#}
{##}
{#        <div class="form-group">#}
{#            <label for="exampleFormControlSelect1">Customer ID</label>#}
{#            <input class="form-control" type="number" placeholder="ID" readonly>#}
{##}
{#            <label for="exampleFormControlSelect1">Customer</label>#}
{#            <select class="form-control" id="exampleFormControlSelect1">#}
{#            <option>Please select...</option></select>#}
{##}
{#            <label for="exampleFormControlSelect1">Comment</label>#}
{#            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" readonly></textarea>#}
{##}
{#            <label for="exampleFormControlSelect1">Total quote price</label>#}
{#            <input class="form-control" type="number" placeholder="Total" readonly>#}
{##}
{#        </div>#}
{#    </form>#}
{#    <br><br>#}
{##}
{#    <form action="" method=POST>#}
{#        {% csrf_token %}#}
{##}
{#        <div class="form-group">#}
{##}
{#            <label for="exampleFormControlSelect1">Select group</label>#}
{#            <select class="form-control" id="exampleFormControlSelect1"> <option>Please select...</option></select>#}
{##}
{#            <label for="exampleFormControlSelect1">Select service</label>#}
{#            <select class="form-control" id="exampleFormControlSelect1"> <option>Please select...</option></select>#}
{##}
{#            <label for="exampleFormControlSelect1">Unit price</label>#}
{#            <input class="form-control" type="number" placeholder="PRICE" readonly>#}
{##}
{#            <label for="exampleFormControlSelect1">Unit</label>#}
{#            <input class="form-control" type="text" placeholder="Unit" readonly>#}
{##}
{#            <label for="quantity">Quantity</label>#}
{#            <input type="number" id="quantity" name="quantity" min="1" max="999">#}
{##}
{#            <label for="exampleFormControlSelect1">Total price</label>#}
{#            <input class="form-control" type="number" placeholder="Total" readonly>#}
{##}
{#            <label for="exampleFormControlTextarea1">Additional info</label>#}
{#            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>#}
{##}
{#            <button data-action="add" class="btn btn-outline-secondary add-btn add-row">+</button>#}
{##}
{#        </div>#}
{##}
{#    {% endif %}#}
{#        <br><br><br>#}
{#        <input type ="submit" value="Save" class="btn btn-secondary">#}
{##}
{#    </form>#}
{##}
