{% extends "calculator/raw_page.html" %}
{% load static %}
{% block content %}

    <div class="container">
    <br><br>


    <a href="{% url "history" %}"><button class="btn btn-outline-secondary me-2" type="button" style="margin-top:10px">
    Return
  </button></a><br>

    QUOTE DETAIL HERE!!! {{ quote.slug }}

    {% if message %}
    {{ message }}
    {% endif %}
<div style="margin-top: 30px;">
<form action = "" method="POST">

        {% csrf_token %}
        {{ form.as_p }}

    {% if item in items_form  %}
        {{ item.service.as_p }}
        {{ item.name.as_p  }}
        {{ item.quantity.as_p  }}

    {% endif %}

     <a href="{% url "history" %}"><button class="btn btn-outline-secondary me-2" type="button" style="margin-top:10px">
    Save
  </button></a>

   </form>
    </div>
<script>

    document.addEventListener('click', (event)=>{
        if (event.target.id == 'add-more') {
            add_new_form(event)
        }
    })
    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
        const currentIngredientForms = document.getElementsByClassName('ingredient-form')
        const currentFormCount = currentIngredientForms.length // + 1
        const formCopyTarget = document.getElementById('ingredient-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'ingredient-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
    }
</script>


{% endblock content%}
</script>
</div>
