body {
    background-color: #F1EEE9;
    font-family: Roboto, sans-serif;
}

#cart-icon {
    height: 30px;
    width: auto;
    display: inline-block;
    margin-left: 25px;
    margin-right: 15px;
}

#logoff {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-left: 25px;
	margin-top: 2px;
}

#logoutv {

}
